@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 149, 18);
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

.container {
    display: grid;
    place-items: center;
}


#title {
    text-align: center;
    margin-top: 40px;
    font-size: larger;
    font-weight: 800;
}

form {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


form input {
    font-weight: 700;
    font-size: medium;
    text-align: center;
}


#pokemon-image-div {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

#pokemon-name-container {
    width: 100%;
    font-size: x-large;
    font-weight: 900;
    margin-top: 20px;
}



#pokemon-id-container {
    margin-bottom: 10px;
}


#pokedex {
    border: 3px solid rgb(201, 124, 73);
    padding: 10px;
    display: grid;
    place-items: center;
    text-align: center;
    width: 20vw;
    background-color: rgb(255, 188, 3);
    color: black;
    height: auto;
    margin-top: 10px;
}

hr {
    width: 300px;
    margin-top: 30px;
}

img {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(224, 203, 122);

}

#pokemon-stat-container {
    width: 100%;
}


#pokemon-stats div {
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


#pokemon-stats div span {
    color: rgb(232, 76, 76);
}

#pokemon-type-container {
    width: 100%;
    background-color: orange;
 
}

#pokemon-type {
    font-size: 20px;
    display: flex;
    justify-content: center;
   gap: 20px;
}



@media (max-width:1629px) {
    #pokedex {
        width: max-content
    }
}